body {
  background-color: rgb(24, 24, 104);
  color: white;
}
a {
  color: lightskyblue;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
.styleToggle {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.contactLinks {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.contactImg {
  width: 40px;
  height: 40px;
}
.App {
  text-align: center;
}
.aboutMe {
  width: 1000px;
  text-align: center;
  margin: 0 210px 0 210px;
}
/* .component:hover {
  color: darkslateblue;
  background-color:white;
  padding: 0px 10px 10px 10px;
} */
.portfolioProjectLink {
  border-radius: 48px;
  position: relative;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgb(5, 5, 100);
  border-radius: 48px;
}
.portfolioProjectLink:hover .overlay {
  opacity: 1;
}
.overlayMsg {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.portfolioProjectImg {
  display: block;
  border-radius: 48px;
}
.portfolioList {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
