body {
  background-color: darkslateblue;
  color: white;
}
a {
  color: lightskyblue;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
.contactLinks {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.App {
  text-align: center;
}
.aboutMe {
  width: 1000px;
  text-align: center;
  margin: 0 210px 0 210px;
}
